#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #242424;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 3px solid #0d6efd;
  border-radius: 10%;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.header-logo {
  text-decoration: none;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: 3px solid #FFF;
  border-radius: 10%;
  flex-basis: 48%;
  padding: 10px;

  cursor: pointer;
}

.contact-item:hover {
  border-bottom-color: #0d6efd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.contact-block {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.contact-profile img{
  width: 100px;
  height: 100px;
  border-radius: 20%;
}

.name-contact {
  color: #0d6efd;
  font-weight: 600;
}

